{% extends "polls\layout.html" %}
{% block title %}Add Comments{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3>Create Comment</h3>
            </div>
            <div class="panel-body">
                <form method="POST" class="form form-vertical" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.errors }}
                        {{ form.as_p }}
                    <button type="submit"  style="float: left" class="save btn btn-success">Post Comment</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% include 'blog/form-template.html' %}