{% extends "polls/layout.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="page-header">
    <h2 style="color: rgb(120, 10, 50); font-family: 'Slabo 27px', serif; text-align: left">{{ post.title }} <small style="color: gray">by {{ post.author }}</small></h2>
    <span style="color: black">on {{ post.date_pub|date:"d m, Y" }}</span>
    <p>
        <small><a href="https://plus.google.com/share?url=http://localhost:8000{{ request.get_full_path|urlencode }}"><img src="https://projecthosts.files.wordpress.com/2012/01/google-icon.png" class="img-fluid" width="20px"></a></small>
        <small><a href="http://www.linkedin.com/shareArticle?url=http://localhost:8000{{ request.get_full_path|urlencode }}&title=<{{post.title}}>&summary=<{{post.body|safe|truncate:30|linebreaks}}>&source=http://dirisujesse.herokuapp.com"><img src="https://www.sourcecoast.com/images/promo/linkedin_logo.png" class="img-fluid" width="20px"></a></small>
        <small><a href="http://www.facebook.com/sharer/sharer.php?u=http://localhost:8000{{ request.get_full_path|urlencode }}&title=<{{post.title}}>&summary=<{{post.body|safe|truncate:30|linebreaks}}>&source=http://dirisujesse.herokuapp.com"><img src="https://www.sourcecoast.com/images/promo/fb_logo.png" class="img-fluid" width="20px"></a></small>
    </p>
</div>
{{ post.content|safe|linebreaks }}
<a class="btn btn-default btn-danger btn-xs badge pull-left" href="{% url 'blog:post_comment' post.id %}" style="font-size: 0.7em; height: 10%; border:none">Add comment</a>
<a href="{% url 'blog:postlist' %}" class="btn btn-default btn-success btn-xs badge pull-right" style="font-size: 0.7em; height: 10%; border: none">Recent Posts</a>
<br>
<h3 class="text text-danger">Comments for <small class="text-primary">{{ post.title }}</small></h3>
<hr>
{% for comment in post.comments.all %}
    <div class="comment form form-vertical">
        <div form-group>
            <strong style="color: green">{{ comment.commentator|upper }} <small style="color: black">&nbsp; thoughts on {{ post.title }}</small></strong>
        <p>{{ comment.comment|linebreaks }}</p>
        <div class="date">on {{ comment.comment_date_time }}</div><hr>
        </div>
    </div>
{% empty %}
    <p>No comments yet for this post</p>
{% endfor %}

{% endblock %}
